<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close(false)" data-dismiss="modal"
                        aria-hidden="true">&times;
                </button>
                <h4 class="modal-title">Формат алгоритма</h4>
            </div>
            <div class="modal-body">
                <!--<p markdown-to-html="markdown"></p>-->
                <pre><code class="python language-python">def train(X, Y):<br>    return model<br><br>def test(model, X, Y):<br>    metrics = {}<br>    return metrics<br><br>def train(model, features_arr):<br>    return predicted_res<br></code></pre>
            </div>
        </div>
    </div>
</div>