<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-title">Формат данных</h4>
            </div>
            <div class="modal-body">
                <!--<p markdown-to-html="markdown"></p>-->
                <pre>X_1,X_2 ... X_N,Y<br>X_1,X_2 ... X_N,Y<br>X_1,X_2 ... X_N,Y</pre>
            </div>
        </div>
    </div>
</div>