<div class="mainDivProject" ng-controller="algorithmsController as ctrl">
    <div class="section">
        <div class="container">
            <div class="row voffset">
                <p>ALGORITHMS</p>
            </div>
            <div class="row voffset">
                <button type="button" class="btn btn-default" ng-click="showDescriptionModal()">
                    Описание
                </button>
            </div>
            <div class="row voffset">
                <button type="button" class="btn btn-default" ng-click="showCommonAlgorithms()">
                    [[strButtonCheckCommonAlgorithmsFlag]]
                </button>
            </div>

            <div ng-if="commonAlgorithmsFlag">
                <div class="row voffset">
                    <div bs-dropdown
                         bs-dropdown-display="MyDropDown"
                         bs-dropdown-items="commonAlgorithmsTitles"
                         ng-model="selectedCommonAlgorithmTitle"
                         ng-change="changeCommonAlgorithms(selectedCommonAlgorithmTitle)"></div>
                </div>
                <div class="row voffset">
                    <p>Название: [[selectedCommonAlgorithm.title]]</p>
                    <p>Описание: [[selectedCommonAlgorithm.description]]</p>
                </div>
            </div>

            <div ng-if="!commonAlgorithmsFlag">
                <div class="row voffset">
                    <ui-select ng-model="ctrl.selectedProject" theme="select2" style="min-width: 300px;"
                               title="Выберите проект" ng-change="onSelectUiClick(ctrl.selectedProject.id)">
                        <ui-select-match placeholder="Select a project">
                            [[$select.selected.title]]
                        </ui-select-match>
                        <ui-select-choices
                                repeat="item in allProjects | propsFilter: {title: $select.search, description: $select.search}">
                            <div ng-bind-html="item.title | highlight: $select.search"></div>
                            <small>
                                title: [[item.title]]
                                description: <span ng-bind-html="''+item.title | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div class="row voffset" ng-if="ctrl.selectedProject">
                    <button type="button" class="btn btn-default" ng-click="ctrl.createNewFlag=!ctrl.createNewFlag">
                        Добавить
                    </button>
                </div>
                <div class="row voffset" ng-if="ctrl.createNewFlag">
                    <div class="input-group">
                        <p>Название</p>
                        <input type="text" class="form-control" ng-model="projectObject.title">
                        <p>Описание</p>
                        <input type="text" class="form-control" ng-model="projectObject.description">
                        <div style="margin-top: 70px">
                            <input id="file-input" type="file" name="file"
                                   onchange="angular.element(this).scope().readFile(this)"/>
                        </div>
                        <button type="button" class="btn btn-default" ng-click="uploadFile()" style="margin-top: 20px">
                            Загрузить
                        </button>
                    </div>
                </div>
                <div class="row voffset">
                    <div class="section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-3" ng-repeat="item in allAlgorithmsByProjectId">
                                        <img
                                                src="/image/algorithm_image_icon.jpeg"
                                                class="img-responsive">
                                        <h2>[[item.title]]</h2>
                                        <p>[[item.description]]</p>
                                        <a class="btn btn-primary" ng-click="toggle()">Подробнее</a>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <div pageslide ps-open="checked" style="margin-top: 40px">
                                            <div style="padding:20px" id="demo-right">
                                                <div class="row voffset">
                                                    <p>[[selectedItem.title]]</p>
                                                    <p>[[selectedItem.description]]</p>
                                                    <p>[[selectedItem.filename]]</p>
                                                    <p>[[selectedItem.preloaded]]</p>
                                                </div>
                                                <div class="row voffset">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="deleteObject(selectedItem)">
                                                        Удалить
                                                    </button>
                                                </div>
                                                <div class="row voffset">
                                                    <a target="_self"
                                                       href="/object/[[selectedItem.project_id]]/algorithms/[[selectedItem.filename]]"
                                                       download="[[selectedItem.filename]]" class="btn btn-info"
                                                       role="button">Скачать</a>
                                                </div>
                                                <div class="row voffset">
                                                    <a ng-click="toggle(null)" class="button">Close</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>