<div class="mainDivProject" ng-controller="analysClassifController as ctrl">
    <div class="section">
        <div class="container">
            <div class="row voffset">
                <p>ANALYS AND CLASSIFICATION</p>
            </div>
        </div>

        <div class="section">
            <div class="col-md-5">
                <div class="container" id="main_cont">
                    <!-- project -->
                    <div class="row rectangle">
                        <div class="col-md-6">
                            <div id="ebay_rect" ng-click="ctrl.selectType='projects'">
                                <div id="kid">
                                    <p ng-style="styleProject" id="kid_p">Проект</p>
                                </div>
                            </div>
                            <div class="apex-dn"></div>
                        </div>
                    </div>

                    <!-- data -->
                    <div class="row rectangle">
                        <div class="col-md-6">
                            <div id="ebay_rect"
                                 ng-click="ctrl.selectType='records';loadAllDataByProjectId(ctrl.selectedObjects.selectedProject.id)">
                                <div id="kid">
                                    <p ng-style="styleRecord" id="kid_p">Данные</p>
                                </div>
                            </div>
                            <div class="apex-dn"></div>
                        </div>
                    </div>


                    <!-- algorithms -->
                    <div class="row rectangle">
                        <div class="col-md-6">
                            <div id="ebay_rect"
                                 ng-click="ctrl.selectType='algorithms';loadAllAlgorithmsByProjectId(ctrl.selectedObjects.selectedProject.id)">
                                <div id="kid">
                                    <p ng-style="styleAlgorithms" id="kid_p">Алгоритмы</p>
                                </div>
                            </div>
                            <div class="apex-dn"></div>
                        </div>
                    </div>


                    <!-- results -->
                    <div class="row rectangle" style="margin-bottom: 50px">
                        <div class="col-md-6">
                            <div id="ebay_rect"
                                 ng-click="ctrl.selectType='results';loadAllAnalysClassifByProjectId(ctrl.selectedObjects.selectedProject.id)">
                                <div id="kid">
                                    <p ng-style="styleResultType" id="kid_p">Результаты</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <div ng-if="ctrl.selectType=='projects'">
                    <div class="row voffset">
                        <ui-select ng-model="ctrl.selectedObjects.selectedProject" theme="select2" style="min-width: 300px;"
                                   title="Выберите проект" ng-change="changeColor('styleProject')">
                            <ui-select-match placeholder="Select a project">
                                [[$select.selected.title]]
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="item in allProjects | propsFilter: {title: $select.search, description: $select.search}">
                                <div ng-bind-html="item.title | highlight: $select.search"></div>
                                <small>
                                    title: [[item.title]]
                                    description: <span ng-bind-html="''+item.title | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div ng-if="ctrl.selectType=='records' && ctrl.selectedObjects.selectedProject">
                    <div class="row voffset">
                        <ui-select ng-model="ctrl.selectedObjects.selectedRecord" theme="select2" style="min-width: 300px;"
                                   title="Выберите данные" ng-change="changeColor('styleRecord')">
                            <ui-select-match placeholder="Select a record">
                                [[$select.selected.filename]]
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="item in allRecordsByProjectId | propsFilter: {filename: $select.search}">
                                <div ng-bind-html="item.title | highlight: $select.search"></div>
                                <small>
                                    filename: [[item.filename]]
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div ng-if="ctrl.selectType=='algorithms' && ctrl.selectedObjects.selectedProject && ctrl.selectedObjects.selectedRecord">
                    <div class="row voffset">
                        <ui-select ng-model="ctrl.selectedObjects.selectedAlgorithm" theme="select2" style="min-width: 300px;"
                                   title="Выберите алгоритм" ng-change="changeColor('styleAlgorithms')">
                            <ui-select-match placeholder="Select a algorithm">
                                [[$select.selected.title]]
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="item in algorithmsByProjectAndCommon | propsFilter: {title: $select.search, description: $select.search}">
                                <div ng-bind-html="item.title | highlight: $select.search"></div>
                                <small>
                                    title: [[item.title]]
                                    description: <span ng-bind-html="''+item.title | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div ng-if="ctrl.selectType=='results' && ctrl.selectedObjects.selectedProject && ctrl.selectedObjects.selectedRecord && ctrl.selectedObjects.selectedAlgorithm">
                    <div class="row voffset">
                        <ui-select ng-model="ctrl.selectedObjects.selectedResultType" theme="select2" style="min-width: 300px;"
                                   title="Выберите результат" ng-change="changeColor('styleResultType')">
                            <ui-select-match placeholder="Select a result type">
                                [[$select.selected.title]]
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="item in resultTypes | propsFilter: {title: $select.search, name: $select.search}">
                                <div ng-bind-html="item.title | highlight: $select.search"></div>
                                <small>
                                    title: [[item.title]]
                                    name: <span ng-bind-html="''+item.name | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="row voffset">
                        <button type="button" class="btn btn-default"
                                ng-click="startProcessing(ctrl.selectedObjects)">
                            Получить результат
                        </button>
                    </div>
                    <div class="row voffset">
                        <p>Метрики</p>
                        <div ng-repeat="(key, value) in metrics">
                            <p>[[key]]: [[value]]</p>
                        </div>
                    </div>
                    <div class="row voffset">
                        <p>Графики</p>
                        <p>[[ctrl.img]]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>