<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular/angular.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/angular-sanitize/angular-sanitize.js') }}"></script>


    <script src="{{ url_for('static', filename='js/app.js') }}"></script>

    <script src="{{ url_for('static', filename='js/utils/urls.js') }}"></script>

    <!-- контроллеры -->
    <script src="{{ url_for('static', filename='js/controllers/mainController.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/genderDetectorController.js') }}"></script>

</head>
<body ng-app="myApp" class="text-center" style="margin-top: 250px">
<div class="container" ng-controller="genderDetectorController as ctrl">

    <div>
        <!-- Вероятности -->
        <div class="col-md-12" ng-if="isUsed">
            <h4 class="mb-4">Мальчик общая вероятность: [[fullProbaMale]]</h4>
            <h4 class="mb-4">Девочка общая вероятность: [[fullProbaFemale]]</h4>
        </div>

        <!-- История -->
        <div class="col-md-12">
            <p ng-bind-html="historyText"></p>
        </div>

        <!-- Поле запроса -->
        <div class="col-md-12">
            <h4>Введите запрос</h4>
            <input type="text" class="form-control" ng-model="textFromInput">
        </div>

        <!-- Кнопки -->
        <div class="col-md-12">
            <div style="margin-top: 40px">
                <button type="button" class="btn btn-default" ng-click="getGender()">Определить пол</button>
                <button type="button" class="btn btn-default" ng-click="resetHistory()" ng-if="isUsed">Начать сначала</button>
            </div>
        </div>

        <!-- Результаты после запроса -->
        <div class="col-md-12" style="margin-top: 30px" ng-if="isUsed">
            <h5 class="mb-4">Мальчик вероятность: [[gotProbasFromServerMale]]</h5>
            <h5 class="mb-4">Девочка вероятность: [[gotProbasFromServerFemale]]</h5>
        </div>
    </div>
</div>

</body>
</html>